@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue {
  background-color: #0c21c1;
}

.text-blue {
  color: #0c21c1;
}

.text-white {
  color: white;
}

.border-blue {
  border-color: "#0c21c1";
}
